.jumbotron{
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg/1280px-Mona_Lisa%2C_by_Leonardo_da_Vinci%2C_from_C2RMF_retouched.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 8%;
    height: 50vh;
}