body {
    margin: 0px;
    padding: 0px;
    font-family:
        'Comfortaa',
        "Lucida Grande",
        Helvetica,
        "Helvetica Neue",
        "HelveticaNeue-Light",
        "Helvetica Neue Light",
        Arial,
        sans-serif;
}

.jumbotron{
    background-image:url("https://ppt.cc/flMsPx@.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    height: 50vh;
}

div.gallery {
    margin: 5px;
    /* border: 1px solid #ccc; */
    float: left;
    width: 180px;
}

div.gallery:hover {
    /* border: 1px solid #777; */
}

div.gallery img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid#ccc;
}

div.gallery img:hover {
    border: 1px solid#777;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.container li {
    display: block;
    background-color: cornflowerblue;
    padding: 2px;
    margin: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
}

div.container ul {
    padding-left: 0px;
}

div.container li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

div.container li:hover {
    background-color: brown;
}

div.container li a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}